@charset "utf-8";

.main{
    width: 453px;
    height: 456px;
    margin: auto;
    border: 1px solid black;
    background: lightblue;
    position: relative;
}
.outBox{
    margin: 0px;
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    height: 150px;
    background: orange;
    line-height: 150px;
    text-align: center;
    font-size: 150px;
    position: absolute;
}
#box1{
    top:0;
    left: 0;
}
#box2{
    top:0;
    left: 150px;
}
#box3{
    top:0;
    left: 300px;
}
#box4{
    top:150px;
    left: 0;
}
#box5{
    top:150px;
    left: 150px;
}
#box6{
    top:150px;
    left: 300px;
}
#box7{
    top:300px;
    left: 0;
}
#box8{
    top:300px;
    left: 150px;
}